* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #fb9f18;
    background: linear-gradient(to top, #a2c6ea, #e4ecf4);
}

.page {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 115px;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: #222222;
}

.link:hover {
    color: #c00;
}

.header {
    background-color: #ededed;
    height: 27px;
    padding-top: 10px;
}

.content {
    width: 940px;
    margin: 0 auto;
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

.header__link:last-child {
    margin-right: 0;
}

.header__menu {
    float: left;
    font-size: 14px;
}

.header__menu .link {
    margin-right: 15px;
}

.header__menu .link:last-child {
    margin-right: 0;
}

.search {
    float: right;
}

.search__input {
    border: 0;
    height: 18px;
    width: 270px;
    background-color: #d2d2d2;
}

.search__button {
    position: relative;
    height: 18px;
    width: 25px;
    border: 0;
    border-radius: 0 9px 9px 0;
    background: linear-gradient(to top, #ff9800, #ffc600);
}

.search__button i {
    width: 16px;
    height: 15px;
    position: absolute;
    background: url("../img/search-icon.png") no-repeat;
    left: 4px;
    top: 2px;
}

.search__box {
    float: right;
    position: relative;
}

.search__holder {
    position: absolute;
    left: -9999px;
}

.main-container__header {
    margin-bottom: 30px;
}

.logo {
    width: 300px;
    float: left;
}

.logo__box:nth-child(1) {
    float: left;
    margin-right: 3px;
    margin-top: 8px;
}

.logo__box:nth-child(2) {
    float: left;
    margin-top: 11px;
}

.logo__box:nth-child(3) {
    float: right;
    margin-right: 5px;
}

.basket {
    border: 0;
    float: right;
    width: 220px;
    height: 65px;
    text-align: center;
    background: linear-gradient(to top, #ff9d00, #ffc200);
    cursor: pointer;
}

.basket__title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: normal;
}

.auth {
    font-size: 18px;
    position: relative;
}

.auth:after {
    content: '';
    position: absolute;
    left: 0;
    top: 99%;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-top: 18px solid #ff9d00;
}

.auth span {
    color: #222222;
}

.basket__link {
    color: black;
}

.contacts {
    float: right;
    margin-right: 45px;
    margin-top: 15px;
}

.telephone {
    text-align: right;
}

.telephone__code {
    color: #5f6f9a;
    font-size: 20px;
}

.telephone__number {
    color: #fb9f18;
    font-size: 40px;
    font-weight: bold;
}

.telephone__code, .telephone__number {
    display: inline-block;
}

.address {
    color: #00378a;
    font-size: 20px;
}

.main-container {
    padding-bottom: 108px;
}

.main-container__menu {
    padding-top: 4px;
    padding-bottom: 4px;
    background: linear-gradient(to top, #ff9600, #ffc600);
    border-radius: 25px;
    margin-bottom: 25px;
}

.menu__item {
    float: left;
    height: 77px;
    border-left: 1px solid #b27a00;
    border-right: 1px solid #ffe17d;
    text-align: center;
    font-weight: bold;
}

.menu__inner {
    height: 40px;
    margin-top: 11px;
    margin-bottom: 3px;
}

.menu__item:nth-child(1) {
    width: 190px
}

.menu__item:nth-child(2) {
    width: 178px;
}

.menu__item:nth-child(3) {
    width: 187px;
}

.menu__item:nth-child(4) {
    width: 192px;
}

.menu__item:nth-child(5) {
    width: 185px;
}

.menu__item:first-child {
    border-left: 0;
}

.menu__item:last-child {
    border-right: 0;
}

.main-container__column {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.main-container__column:last-child {
    margin-right: 0;
}

.categories {
    border-radius: 25px;
    background: linear-gradient(to top, #ff9600, #ffc600);
    width: 220px;
}

.categories__box {
    padding: 25px 0 25px 15px;
}

.categories__list {
    line-height: 24px;
    list-style: none;

}

.category .categories__list {
    margin-left: 30px;
    line-height: 31px;
}

.products {
    width: 700px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 25px;
    padding-top: 23px;
    padding-left: 23px;
}

.products__title {
    font-size: 22px;
    color: #002e79;
    margin-bottom: 63px;
}

.product {
    display: inline-block;
    vertical-align: top;
    width: 192px;
    margin-right: 25px;
    margin-bottom: 40px;
}

.product:nth-child(3n) {
    margin-right: 0;
}

.product__name {
    color: #003280;
    text-decoration: underline;
    text-align: left;
}

.product__picture {
    height: 130px;
    text-align: center;
    padding-bottom: 13px;
    position: relative;
}

.status {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    position: absolute;
    padding: 0 10px;
    right: 0;
    bottom: 5px;
    background-repeat: no-repeat;
}

.status_leader {
    background-image: url("../img/leader.png");
    color: #ffffff;
    padding-top: 26px
}

.status_stock {
    background-image: url("../img/stock.png");
    color: #222222;
    padding-top: 33px;
}

.product__inner {
    position: relative;
    margin-top: 15px;
}

.product__price {
    float: left;
    margin-top: 9px;
}

.product__price span {
    font-weight: bold;
    font-size: 18px;
}

.product__buy {
    width: 36px;
    height: 30px;
    float: right;
    position: relative;
}

.product__buy .link {
    padding-right: 36px;
    padding-bottom: 16px;
}

.product__buy i {
    width: 36px;
    height: 30px;
    position: absolute;
    background: url("../img/buy.png") no-repeat;
}

.pagination {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 30px;
}

.pagination .link {
    font-size: 18px;
    margin-right: 13px;
}

.pagination .link:last-child {
    margin-right: 24px;
}

.pagination .link:first-child, .pagination .link:last-child {
    position: relative;
    padding-right: 15px;
}

.pagination__switch {
    width: 15px;
    height: 26px;
    position: absolute;
    bottom: -3px;
    background-repeat: no-repeat;
}

.pagination__switch_back {
    background-image: url("../img/back.png");
}

.pagination__switch_forward {
    background-image: url("../img/forward.png");
}

.footer {
    min-width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 30px 0 25px;
    background-color: #cdcdcd;
}

.footer__menu {
    font-size: 14px;
    margin-bottom: 30px;
}

.footer__menu .link {
    margin-right: 17px;
}

.footer__menu .link:last-child {
    margin-right: 0;
}

.footer__inner {
    color: #584b3d;
}

.company {
    float: left;
}

.work {
    float: right;
}